---
title: Tags
layout: page
permalink: /tags/
---
<div id='tag_cloud'>
    {% for tag in site.tags %}
    <a href="#{{ tag[0] }}" title="{{ tag[0] }}" rel="{{ tag[1].size }}">{{ tag[0] }}</a><span  class="category-number">{{ tag[1].size}}</span>
    {% endfor %}
</div>
<hr>
    {% for tag in site.tags %}
    <p class="listing-seperator" id="{{ tag[0] }}">{{ tag[0] }}</p>
    <ul class="arc-list">
    {% for post in tag[1] %}
    <li><span class="category-date">{{ post.date | date:"%Y-%m-%d"}}</span>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endfor %}
    </ul>
    {% endfor %}


