.category-number {
    vertical-align: super;
  }

.cat-folders {
  .category-link {
    text-decoration: none;
    color: #21759b;
  }
  .category-number {
    vertical-align: super;
    color: #444;
    margin-right: 10px;
  }  
}

.categorylist {
  a {
    text-decoration: none;
    color: #444;
  }
  .category-number {
    vertical-align: super;
  }
}

#tag_cloud {
  a {
     text-decoration: none;
     color: #21759b;
  }

  .category-number {
    vertical-align: super;
    color: #444;
    margin-right: 10px;
  }    
}

#tag-list {
  a {
    text-decoration: none;
  }
}
